<div id="activites"> <!-- Activities Section -->
    <div id="meetings">
        <h1>Training and Board Meetings</h1><hr>
        <h3><strong>New Location</strong></h3>
        <div class="bg-info" style="padding-top:1px">
            <h3>Lakeview Health</h3>
            <h4>1900 Corporate Square Blvd, Jacksonville, FL 32216</h4>
            <h4>In the Education/Training room</h4>
        </div>
        
        <hr>
        <h2>Upcoming Meetings</h2>
        <h3 class="bg-primary" style="margin-bottom:1em;">All meetings are from 11:00 to 1:00</h3>
        <ul>
            <li>
                <h4 style="padding-left:0em;">Networking Meeting - May 15, 2018</h4>
            </li>
            <li>
                <h4 style="padding-left:0em;">Substance Use Disorder - June 18, 2018</h4>
                <p style="padding-left:1em;">Speaker: Jada Helmer, LMHC</p>
                <p style="padding-left:1em;">Breakthroughs Counseling & Recovery Inc</p>   
            </li>
        </ul>
        
        <div id="quarterly-meetings">
            <h3>Quarterly Meetings</h3>
            <div  style="padding-left:0em;">
                <ul>
                    <li>
                        <p>July 17</p>
                    </li>
                    <li>
                        <p>October 16</p>
                    </li>
                    <li>
                        <p>December 18</p>
                    </li>
                    <li>
                        <p>April 16</p>
                    </li>
                </ul>
            </div>
        </div>

        <div id="board-meetings">
            <h3>Board meetings</h3>
            <div  style="padding-left:0em;padding-bottom:.3em;">
                <ul>
                    <li>
                        <p>July 19</p>
                    </li>
                    <li>
                        <p>September 18</p>
                    </li>
                    <li>
                        <p>November 20</p>
                    </li>
                    <li>
                        <p>February 19</p>
                    </li>
                </ul>
            </div>
            <h4><strong>All members are welcome to attend to board meetings</strong></h4>

            <hr>
        </div>

    </div>
    
    <div id="awards">
        <h3>Dick Tibbits and Michael Hanrahan Honorees 2016</h3>
        <p style="padding-top:1em;">The late Dick Tibbits was a board member of NEFCADA,
        who maintained the longest tenure of any board member (20+years)
        in the history of the organization. This award is given to that 
        individual who has demonstrated outstanding service as a member.</p>
        <br>
        <p>The Hanrahan award recognizes an individual's effort in the
        area of alcohol and drug abuse awareness, prevention, treatment
        and rehabilitation. The award is given in the name of Judge Michael E.
        Hanrahan to that individual who has demonstrated outstanding service in the community.</p>  
    </div>
    <hr>
    <div>
        <a target="_blank" href="2016COREBrochure.pdf">Clinical Overview of the Recovery Experience</a>
    </div>
    <div id="invite">
        <a class="btn btn-default" href="mailto:?to=&body=Here's my discovery 4 recovery today!%0D%0A%0D%0ANortheast Florida Council on Alcoholism and Drug Abuse! They are networking Florida's First Coast and beyond. Open discussions, trainings and opportunities for CEU's from industry leaders, public, government and private, family, legislation initiatives. I thought you might be willing to add your 2 cents to discuss ask questions or even speak on Substance Abuse and Drug Intervention, Prevention and Wellness Strategies.%0D%0A%0D%0ANEFCADA.org%0D%0AA Wellness is Yours,%0D%0A%0D%0A&subject=Take a Look!">Wellness Friend</a>
    </div>
</div> <!-- End Activities -->