<div id="resources">
    <h3>Northeast Florida Community and National Resources</h3>
    <a href="https://www.twelveoaksrecovery.com/">Twelve Oaks Recovery Center</a> | 
    <a href="https://jaxtherapists.com/">Breakthroughs</a>
    <img id="slide-img" src="assets/images/slides.jpg">
    <div class="row">
        <img style="width:45%;margin-left:2%;float:left;" src="assets/images/lakeview.jpg">
        <img style="width:45%;float:right;" src="assets/images/westbridge.png">
    </div>
    <div style="margin-bottom:15px;" class="row">
        <img style="width:45%;margin-left:2%;float:left;" src="assets/images/newhope.png">
        <img style="width:45%;float:right;" src="assets/images/allTreatment.png">
    </div>
    <iframe style="float: left;margin-bottom:15px;" width="560" height="315" src="https://www.youtube.com/embed/SY2luGTX7Dk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></br>
    <iframe style="float: left;" width="560" height="315" src="https://www.youtube.com/embed/-6LJKUqYKOE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>