<div id="mission">
    <h1>Mission Statement</h1>
    <h4 style="margin-top: 20px;" class="bg-primary">To provide professional development and networking for individuals interested in combating alcoholism and other addictions, as well as educating the community in prevention, treatment and recovery.</h4>
    <hr>
    <!-- <img src="index-img.1.jpg"> -->

    <div id="yt-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/bqoEtUn0Agw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div> <!-- end mission -->
<hr>
<div id="feedback">
    <div class="row">
      <div class="form-group col-xs-5">
        <p>Your feedback is needed!</p><p>The NEFCADA board would like to know what specific topics you are interested in learning more about. And which speakers would you like us to invite to speak.</p> <p>Thank you in advance!</p>
      </div>
    </div>
    <form id="form" autocomplete="off" onchange="mail(this)">
        <div class="row">
          <div class="form-group col-xs-5">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="form-name">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-5">
            <label for="speaker">Topics and Speakers for 2018</label>
            <textarea class="form-control" name="speaker" id="form-topic"></textarea>
          </div>
        </div>
        
        <a id="send" class="btn btn-default">Submit</a>
    </form>
</div> <!-- end feedback -->